<div>
    <ng-container *ngIf="trainings$ | async as trainings; else loading">
        <!---Search bar-->
        <form class="d-flex align-items-center">
            <input 
                class="form-control form-control-sm me-2" 
                type="search" 
                placeholder="Search" 
                aria-label="Search" 
                name="searchText"
                [(ngModel)]="searchText"
                (ngModelChange)="onSearchTextChange($event)">
        </form>

        <table class="table table-striped table-hover table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of trainings">
                    <td>{{ training.id }}</td>
                    <td>{{ training.name }}</td>
                    <td>{{ training.description }}</td>
                    <td>{{ training.price | currency:'EUR' }}</td>
                    <td>
                        <input 
                            type="number" 
                            min="1" 
                            class="form-control form-control-sm text-center" 
                            style="width:80px" 
                            [(ngModel)]="training.quantity"
                        >
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="onAddToCart(training)">
                            Ajouter
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </ng-container>
</div>

<ng-template #loading>
    <p>Carregando...</p>
</ng-template>