<div>
    <ng-container *ngIf="trainings$ | async as trainings; else loading">

        <!-- Search bar -->
        <div class="mb-3 d-flex justify-content-center">
            <input 
                class="form-control w-50"
                type="search" 
                placeholder="Search" 
                aria-label="Search" 
                name="searchText"
                [(ngModel)]="searchText"
                (ngModelChange)="onSearchTextChange($event)">
        </div>

        <!-- Grid of cards -->
        <div class="row g-3 justify-content-center">
            <div class="col-md-4 d-flex justify-content-center" *ngFor="let training of trainings">
                <div class="card h-100 shadow-sm" style="width:300px">
                <!-- Image placeholder -->
                    <img src="{{ 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScDPWPm0NYGMChKEtaqIvNM9_TeyvGfIOZjQ&s' }}" 
                        class="card-img-top" 
                        alt="{{ training.name }}" 
                        style="height: 150px; object-fit: cover;">

                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ training.name }}</h5>
                        <p class="card-text text-truncate">{{ training.description }}</p>
                        <p class="card-text fw-bold">{{ training.price | currency:'EUR' }}</p>

                        <!-- Quantity and button -->
                        <div class="d-flex align-items-center mt-auto">
                        <input type="number" min="1" class="form-control form-control-sm me-2 text-center" 
                                style="width: 70px;" [(ngModel)]="training.quantity">
                        <button class="btn btn-success btn-sm flex-shrink-0" (click)="onAddToCart(training)">
                            Ajouter
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #loading>
    <p class="text-center my-5">Carregando...</p>
</ng-template>
