<div class="container">
    <div class="col-md-3">
        <form #f="ngForm" (ngSubmit)="onSaveCustomer(f.value)">
            <div class="form-group">
                <label class="control-label">Nom: </label>
                <input type="text" name="name" required class="form-control" [(ngModel)]="customer!.name">
            </div>
            <div class="form-group">
                <label class="control-label">Prénom: </label>
                <input type="text" name="firstName" required class="form-control" [(ngModel)]="customer!.firstName">
            </div>
            <div class="form-group">
                <label class="control-label">Adresse: </label>
                <input type="text" name="address" required class="form-control" [(ngModel)]="customer!.address">

                <div class="form-group">
                    <label class="control-label">Tel: </label>
                    <input type="text" name="phone" required class="form-control" [(ngModel)]="customer!.phone">
                </div>

                <div class="form-group">
                    <label class="control-label">Email: </label>
                    <input type="text" name="email" required class="form-control" [(ngModel)]="customer!.email">
                </div>
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
</div>
