<div class="d-flex justify-content-center align-items-center vh-100">
    <form class="p-4 rounded shadow bg-light" style="width: 100%; max-width: 400px;" #f="ngForm" (ngSubmit)="onLogin(f)">

        <h3 class="text-center mb-4">Login</h3>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                required 
                class="form-control" 
                [(ngModel)]="user.email" 
                placeholder="Inserer votre email">
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                required 
                class="form-control" 
                [(ngModel)]="user.password" 
                placeholder="Inserer votre mot de passe">
        </div>

        <!-- Submit -->
        <div class="d-grid">
            <button type="button" class="btn btn-primary btn-block" (click)="onLogin(f)">Se connecter</button>
        </div>
    </form>
</div>
